* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    animation: pageload 1.5s ease;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ebd9bb;

}


/* pageload Animation */
@keyframes pageload {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* navbar  */
nav {
    background: linear-gradient(135deg, #2cb1bc, #88bdc2);
    width: inherit;
    padding: 0;
}

.main-content {
    margin-left: 30px;
    margin-right: 30px;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    color: gold;
    display: inline-block;
    padding: 20px 10px;
}

ul>li>a:hover {
    background-color: #1c3d5a;
}

header>nav>ul {
    margin: 0;
    padding: 0;
}

.active {
    background-color: #1c3d5a;
}


/* Noto Serif Font */
.city-font {
    font-family: 'Noto Serif', serif;
}

.cultur {
    font-family: 'Noto Serif', serif;
}


/* homepage */
.header-container {
    text-align: center;
    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    margin-bottom: 50px;
    color: #1c3d5a;
}

.para-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 194, 149);
    margin: 20px;
    padding: 20px;
}

.image {
    display: flex;
    flex-direction: row;
    width: 209px;
    margin-left: 40px;
    gap: 20px;
    border-radius: 8px;
}

img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    margin-top: 25px;
    margin-bottom: 25px;
}

.header2-container {
    text-align: center;
    text-shadow: 4px 6px 7px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: white;
}

.subtitle-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 194, 149);
    margin: 20px;
    padding: 20px;
}

.subtitle {
    animation: subtitle 6s linear 2s infinite;
}

@keyframes subtitle {
    0% {
        color: orangered;
        transform: rotatey(0deg);
    }

    50% {
        color: aqua;
        transform: rotatey(180deg);
    }

    100% {
        color: red;
        transform: rotatey(360deg);
    }
}

.bamyan1 {
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.hbamyan {
    color: #1c3d5a;
    text-align: center;
    text-shadow: 4px 6px 7px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.balkh1 {
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.hbalkh {
    color: #1c3d5a;
    text-align: center;
    text-shadow: 4px 6px 7px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.cities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 40px;
}

.city-card {
    background-color: rgb(228, 194, 149);
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
    overflow: hidden;
    transition: 0.4s ease;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
}

.city-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.city-card:hover {
    transform: scale(1.05);
    background-color: rgb(188, 248, 228);
}

.city-card h2 {
    margin: 15px 10px;
}


/* City Gallery  */
.middle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.card {
    background-color: #2cb1bc;
    color: white;
    width: 265px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
    padding: 20px;
    transition: transform 0.3s;
    margin-top: 46px;
    margin-bottom: 45px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(250, 250, 250, 0.9);
}


.card:hover {
    background-color: rgb(188, 248, 228);
    color: black;
    transform: scale(1.1);
}

#Queen {
    text-align: center;
    color: #1c3d5a;
    margin-top: 0;
}



/* City of the Day  */
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #2cb1bc;
    color: white;
    margin: 40px;
    padding: 30px;
    width: 600px;
    height: 1150px;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.box:hover {
    transform: scale(1.05);
    background-color: rgb(188, 248, 228);
    color: #1c3d5a;
}

.box h4 {
    color: #1c3d5a;
    padding-top: 30px;
}

.slider {
    width: 100%;
    height: 500px;
    background-size: cover;
    margin-right: 20px;
    border-radius: 8px;
    background-position: center;
    animation: slider 30s infinite;
}

@keyframes slider {
    0% {
        background-image: url(./kjj.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    10% {
        background-image: url(./diwar.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    20% {
        background-image: url(./aabi.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    30% {
        background-image: url(./saabz.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    40% {
        background-image: url(./hgy.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    50% {
        background-image: url(./yt.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    60% {
        background-image: url(./iyi.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    70% {
        background-image: url(./naan.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    80% {
        background-image: url(./jmk.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    90% {
        background-image: url(./dig.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }

    100% {
        background-image: url(./ya.PNG);
        background-size: 100% 100%;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
    }
}

#br {
    padding-top: 10px;
    padding-bottom: 20px;
}



/* submit a city  */
.container form {
    width: 400px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    gap: 15px;
    max-width: 400px;
    margin: 60px;
    padding: 30px;
    border-radius: 5px;
    background-color: #2cb1bc;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
}

#name {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 340px;
    margin-top: 10px;
    padding: 10px;
    transition: 0.3s ease 0s, transform 0.3s ease 0s;
}

#name:hover {
    transform: scale(1.1);
}

#city-name {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 340px;
    margin-top: 10px;
    padding: 10px;
    transition: 0.3s ease 0s, transform 0.3s ease 0s;
}

#city-name:hover {
    transform: scale(1.1);
}

textarea {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
    transition: 0.3s ease 0s, transform 0.3s ease 0s;
}

textarea:hover {
    transform: scale(1.1);
}

button {
    background-color: #1c3d5a;
    color: #ebd9bb;
    margin-bottom: 15px;
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color: white;
    color: #1c3d5a;
    transform: scale(1.1);
}

footer {
    background: linear-gradient(135deg, #2cb1bc, #88bdc2);
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}